<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
<h2>Frequently Asked Questions</h2>

<h4>How did you choose the attributes in <em>Usage Policy</em>?</h4>
<p>The <em>Usage Policy Language</em> of the <a href="https://www.specialprivacy.eu">SEPCIAL project</a> was used. The attributes are <a href="https://www.specialprivacy.eu/images/documents/SPECIAL_D2.1_M12_V1.0.pdf">described in detail here</a>.</p>
<p>&nbsp;</p>

<h4>Is the source code for this service available?</h4>
<p>Yes, the source code for this web page is available here: <a href="https://github.com/OwnYourData/app-donate">Github</a> (<a href="https://hub.docker.com/r/oydeu/oyd-donate/">Docker image</a>)<br>
the source code for Semantic Container is available here: <a href="https://github.com/OwnYourData/sc-base">Github</a> (<a href="https://hub.docker.com/r/semcon/base/">Docker image)</a></p>
<p>&nbsp;</p>

<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
