<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
<h2>Häufige Fragen</h2>

<h4>Wie wurden die Attribute für die <em>Zulässige Nutzung</em> ausgewählt?</h4>
<p>Es wurde die <em>Usage Policy Language</em> des <a href="https://www.specialprivacy.eu">SEPCIAL Projekts</a> verwendet. Die Attribute sind <a href="https://www.specialprivacy.eu/images/documents/SPECIAL_D2.1_M12_V1.0.pdf">hier im Detail beschrieben</a>.</p>
<p>&nbsp;</p>

<h4>Ist der Quellcode für dieses Service verfügbar?</h4>
<p>Ja, der Quellcode für diese Webseite ist hier verfügbar: <a href="https://github.com/OwnYourData/app-donate">Github</a> (<a href="https://hub.docker.com/r/oydeu/oyd-donate/">Docker image</a>)<br>
der Quellcode für Semantic Container ist hier verfügbar: <a href="https://github.com/OwnYourData/sc-base">Github</a> (<a href="https://hub.docker.com/r/semcon/base/">Docker image)</a></p>
<p>&nbsp;</p>

<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
